/* FONTS */

/* "VALORANT" FONT */
@import url('https://fonts.cdnfonts.com/css/valorant');

/* "ANTON" FONT */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* "DIN NEXT LT PRO REGULAR" FONT */
@import url(https://db.onlinewebfonts.com/c/93a467f70a3e7b27a9b52a686f351dbe?family=DIN+Next+LT+Pro+Regular);

/* "UNDERRATED" FONT */
@import url('https://fonts.cdnfonts.com/css/underrated');

/* "THE BOLD FONT" FONT*/
@import url('https://fonts.cdnfonts.com/css/the-bold-font');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #050303;
    --secondary-color: #FC4754;
    --text-color: #ffffff;
}

.web-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(/img/Background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 50px;
    overflow-x: hidden;
    padding-top: 50px;
    height: 100vh;
}

/* CONTAINER DE ACLARACION DE API Y TITULO DE WEB */
.web-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* PRIMER Y SEGUNDA PALABRA DE ACLARACION DE API */
.web-title-container h4,
.web-title-container h4>b {
    color: var(--text-color);
    text-align: center;
    font-family: VALORANT;
    font-size: 20px;
    font-weight: 400;
}

/* SEGUNDA PALABRA DE ACLARACION DE API */
.web-title-container h4>b {
    color: var(--secondary-color);
}

/* PRIMER Y SEGUNDA PALABRA DEL TITULO */
.web-title-container h1,
.web-title-container h1>b {
    color: var(--text-color);
    text-align: center;
    font-family: VALORANT;
    font-size: 80px;
    font-weight: 400;
}

/* SEGUNDA PALABRA DEL TITULO (FINDER) */
.web-title-container h1>b {
    color: var(--secondary-color)
}

/* CONTAINER DEL INPUT */
.input-container {
    margin-top: 45px;
}

/* INPUT DE LA WEB */
.input-container input {
    /* ESTILO DEL INPUT */
    border-radius: 35px;
    border: 1px solid #FC4754;
    background: rgba(5, 3, 3, 0.40);
    height: 40px;
    width: 250px;
    padding: 0px 18px;
    transition: all 0.5s ease;
    position: relative;
    z-index: 40;

    /* ESTILO DEL TEXTO AL ESCRIBIR EN EL INPUT */
    color: rgba(255, 255, 255, 0.938);
    font-family: DIN Next LT Pro;
    font-size: 16px;
    font-weight: lighter;
}

/* INPUT AL PASAR EL MOUSE */
.input-container input:hover {
    box-shadow: 0px 0px 25.5px 0px rgba(252, 71, 84, 0.52);
}

/* CONTENIDO DEL INPUT ANTES DE ESCRIBIR */
.input-container input::placeholder {
    color: rgba(179, 179, 179, 0.938);
    font-family: DIN Next LT Pro;
    font-size: 14px;
    font-weight: lighter;
}

/* INPUT AL DAR CLICK */
.input-container input:focus-visible {
    outline: none;
}

/* CONTAINER DE LA INFO DEL PERSONAJE Y LA IMAGEN */
.web-agent-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* CONTAINER DE INFO DE PERSONAJE 
(NOMBRE, DESCRIPCION, HABILIDAD, DESCRIPCION DE HABILIDAD, CAJA DE CAMBIADOR DE HABILIDAD)
VA A LA PARTE IZQUIERDA (EN ESCRITORIO) O PARTE DE ABAJO (EN MOVIL) */
.web-agent-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    margin-top: 40px;
    width: 50%;
}

/* CONTAINER DEL NOMBRE Y HABILIDAD DE PERSONAJE, Y DESCRIPCION DE PERSONAJE Y DE HABILIDAD */
.agent-text-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* CONTAINER DE NOMBRE Y DESCRIPCION DE PERSONAJE */
/* CONTAINER DE NOMBRE DE HABILIDAD Y DESCRIPCION DE HABILIDAD */
.agent-name-desc-container,
.agent-ability-desc-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* NOMBRE DE PERSONAJE */
/* NOMBRE DE HABILIDAD */
.agent-name-desc-container h3,
.agent-ability-desc-container h3 {
    color: var(--text-color);
    font-family: Anton;
    font-size: 23px;
    font-weight: 400;
}

/* DESCRIPCION DE PERSONAJE */
/* DESCRIPCION DE HABILIDAD */
.agent-name-desc-container p,
.agent-ability-desc-container p {
    color: var(--text-color);
    font-family: DIN Next LT Pro;
    font-size: 18px;
    font-weight: 400;
}

/* CONTAINER DE CAMBIADOR DE HABILIDIDAD (AL HACER CLICK EN UN ICONO SE HABILITA UN COLOR Y RENDERIZA LA DESCRIPCION DE LA HABILIDAD CORRESPONDIENTE) */
.agent-ability-changer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

/* ESTILO DE TODAS LAS HABILIDADES */
.ability {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-image: url(/img/Border-Ability-img.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}

.ability img {
    background-color: var(--main-color);
    height: 75px;
    width: 75px;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 95%, 95% 100%, 0 100%);
}

/* ESTILO AL CLICKEAR */
.ability-active {
    background-color: var(--secondary-color);
}

/* CONTAINER DE LA IMAGEN DEL PERSONAJE Y TEXTO DE FONDO */
.web-agent-img-container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 340px;
    left: -100px;
    /* margin-bottom: -200px; */
}

/* IMAGEN DEL PERSONAJE */
.agent-img {
    width: 900px;
    height: 900px;
    position: relative;
    z-index: 2;
    filter: drop-shadow(20px 0px 0px var(--secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TEXTO DE FONDO DEL PERSONAJE */
.web-agent-img-container p {
    position: absolute;
    z-index: 1;
    font-family: Anton;
    font-size: 170px;
    font-weight: 400;
    transform: rotate(90deg);
    right: -60px;
    bottom: 230px;
    color: #00000000;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.718);
    text-transform: uppercase;
    width: 715px;
}